<% 
var salaries
for(var i=0; i<salaries; i++) { %>
    <tr>
        <td><%= i+1 %></td>
        <td><%= salaries[i].name %></td>
        <td>Last Name</td>
        <td><%= salaries[i].salary %></td>
        <td><%= salaries[i].bonus %></td>
        <td><%= salaries[i].total %></td>
        <td>
            <a href="/update-salary?id=<%= salary[i]._id %>" class="btn border-shadow update">
                <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
            </a>
            <a href="#" class="btn border-shadow delete" data-id=<%= salaries[i]._id %> >
                <span class="text-gradient"><i class="fas fa-times"></i></span>
            </a>
        </td>
    </tr>
    <% } %>